/*Обнуление*/
*{padding:0;margin:0;border:0;}
*,*:before,*:after{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
:focus,:active{outline:none;}
a:focus,a:active{outline:none;}
nav,footer,header,aside{display:block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display:none;}
button{cursor:pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration:none;}
a:hover{text-decoration:none;}
ul li{list-style:none;}
img{vertical-align:top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:inherit;}
/*--------------------*/
body{
  font-family: arial, sans-serif;
  margin: 0;
}

.wrapper{
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.hi{
  background-color: rgba(67, 6, 145, 0.05);
  padding: 50px 0;
}
.container{
  max-width: 1180px;
  margin: 0 auto;
}
.content{
  flex: 1 1 auto;
}
.hi__row{
  display: flex;
  justify-content: space-between;
}
.hi__body{
  color:rgba(61, 13, 83, 0.84);

}
.hi__title{
  font-size: 60px;
  margin: 0 0 38px 0;
}
.hi__list{}
.hi__list li{
  background: url('../img/ico.png') left no-repeat ;
  text-shadow: 1px 1px 0 rgba(177, 149, 218, 0.84);
  line-height: 22px;
  font-size: 20px;
  padding: 0 0 0 36px;
  margin: 0 0 15px 0;
  list-style-type: none;
}
.hi__list li:last-child{
  margin: 0;
}
.hi__image{
}
.image{width: 470px;
height: 240px;}

.strong{
  padding: 50px 0;
}
.title0{
  color: rgba(61, 13, 83, 0.5);
  text-shadow: 2px 2px 5px rgba(61, 13, 83, 0.84);
  font-size: 45px;
  line-height: 18px;
  padding: 23px 0 0 38px;
}
.strong__row{
  display: flex;
  justify-content: space-between;
}
.strong__image{
  flex: 0 0 250px;
}
.img{
  width: 250px;
  height: 350px;
  max-width: 100%;
}
.strong__text{
  flex: 1 1 auto;
  padding: 45px 0 0 38px;
}
.strong__text p{
  line-height: 24px;
  font-size: 17px;
  color:rgba(61, 13, 83, 0.84);
  margin: 0 0 15px 0;
}

.titaty{
  background-color: rgba(67, 6, 145, 0.05);
  padding: 50px 0 30px 0;
}
.title1{
  color: rgba(255, 255, 255);
  text-shadow: 2px 2px 5px rgba(61, 13, 83, 0.84);
  font-size: 45px;
  margin: 0 0 30px 0;
  text-align: center;
}
.part1_row{
  display: flex;
  justify-content: space-between;
  padding: 0 0 0 20px;
  flex-wrap: wrap;
  margin: 0 -10px;
}
.block1{ padding: 0 8px;
  flex: 0 1 50%;
  margin: 0 0 20px 0;
}
.item__row{
  display: flex;

}
.image1{
 flex: 0 0 200px;
}
.text1{
  flex: 1 1 auto;
  padding: 0 0 0 15px;
  color: rgba(61, 13, 83, 0.84);
  font-size: 18px;
  line-height: 24px;
}
.Olga{
  margin: 5px 0 0 0;
  text-align: left;
}
.j{
  width: 200px;
  height: 200px;
}

.vertical{
  padding: 50px 0;
}
.last-title{
  text-align: center;
  margin: 0 0 30px 0;
  color: rgba(61, 13, 83, 0.5);
  text-shadow: 2px 2px 5px rgba(61, 13, 83, 0.84);
  font-size: 45px;
  line-height: 18px;

}
.vertical_body{
  max-width: 990px;
  margin: 0 auto;
}
.vertical_row{
  display:flex;
  justify-content: space-between;
  margin: 0 -22.5px;
}
.vertical_column{
  flex: 0 1 33.333%;
  padding: 0 22.5px;
  display: flex;
}
.vertical_item{
  background-color: rgba(67, 6, 145, 0.05);
  border-radius: 5px;
  color: rgba(61, 13, 83);
  border: 2px solid rgba(219, 4, 42, 0.1);
  display: flex;
  flex-direction: column;
}
.subtitle{
 padding: 15px 0;
 font-size: 25px;
 text-align: center;
 color: rgba(255, 255, 255);
 text-shadow: 2px 2px 5px rgba(61, 13, 83, 0.84);
}
.label{
  background-color: rgb(255, 255, 255);
  height: 225px;
  text-align: center;
}
.master{
  height: 200px;
  width: 300px;
margin: 12.5px auto;
}
.vertical_text{
  padding: 15px 0;
  text-align: center;
  font-size: 25px;
  flex: 1 1 auto;
  padding: 15px 0 5px 15px;
}
.specialize{
  font-size: 20px;
  padding: 0 0 0 25px;
}
.price{ font-size: 20px;
  padding: 5px 0 0 25px;
}
.vertical_button{
  display: block;
  margin: 15px 20px;
  height: 40px;
  background-color: rgb(255, 255, 255);
  line-height: 40px;
  text-align: center;
  border-radius: 5px;
  font-size: 20px;
}
  .roxane{}

.footer{
  background-color: rgba(67, 6, 145, 0.05);
}
.footer__row{
  display: flex;
  height: 65px;
justify-content: center;
align-items: center;
}
.footer__text{
  font-size: 30px;
  color: rgba(255, 255, 255);
  text-shadow: 2px 2px 5px rgba(61, 13, 83, 0.84);
  letter-spacing: 0.3px;
}
